.box-posts {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background: #F7F2EF;
    width: 400px;
}

.box-posts .post {
    width: 100%;
    height: 75px;
    background: #CCCCCC;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    transition: 0.1s;
    margin-top: 10%;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.7;
    transition: 0.3s;
}

.box-posts .post:hover {
    transform: scale(1.1);
    z-index: 100;
    background: #354654;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
    color: #F7F2EF;
    opacity: 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.box-posts .post-id {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #354654;
    color: #F7F2EF;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-5px);
    transition: 0.5s;
    margin-top: 7%;
}

.date-posted {
    position: absolute;
    transform: translate(350%, 100%);
}

.box-posts .post:hover .post-id {
    background: #F7F2EF;
    color: #354654;
}

@media screen and (max-width: 430px) {
    .box-posts {
        width: 200px;
    }
    .date-posted {
        transform: translate(130%, 100%);
    }
    .box-posts .post {
        margin-top: 20%;
    }
}
