@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');
@import '../../styles/variables';

.blog-post {
    padding-left: 35%;
    padding-right: 35%;
    font-size: 18px;
    font-family: 'Fira Code';
    text-align: justify;
    line-height: 1.1;
}

.likes {
    font-size: 18px;
    font-weight: bold;
}

.like-icon {
    color: $color2;
    transition: .2s;
}

.like-icon:hover {
    color: $color4;
    transform: scale(1.1);
    cursor: pointer;
}

.like-icon:active {
    color: $color2;
    transform: scale(1);
}

.summary {
    position: fixed;
    text-align: left;
    color: $color4;
    top: 70%;
}

.summary .inactive_anchor:hover {
    color: $color4;
}

.summary .active_anchor {
    color: $color4;
}

.summary .inactive_anchor {
    color: $color3;
}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    font-size: 25px;
    opacity: .9;
    transition: .5s;
    color: $color4;
    &:hover {
        transform: scale(1.05);
        opacity: 1;
        color: $color2;
        text-decoration: underline;
    }
}

.back-button {
    margin-top: 20px;
    margin-left: auto;
    margin-right:auto;
    height: 40px;
    width: 150px;
    background: $color3;
    border: 2px solid $color4;
    transition: .3s;
    opacity: .6;
    font-size: 18px;
    font-family: 'Ubuntu Mono', monospace;
    &:hover {
        background: $color2;
        transform: scale(1.1);
        border: 1.5px solid $color4;
        opacity: 0.8;
        cursor: pointer;
        color: $color3;
    }
}

#disqus_thread {
    margin-top: 5%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

code {
    font-family: 'Fira Code';
}

@media screen and (max-width: 1000px) {
    .blog-post {
        padding-left: 30%;
        padding-right: 30%;
    }
}

@media screen and (max-width: 800px) {
    .blog-post {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (max-width: 600px) {
    .blog-post {
        text-align: left;
        line-height: 1.2;
        padding-left: 15%;
        padding-right: 15%;
    }
    #disqus_thread {
        width: 300px;
    }
}