@import '../../styles/variables';

.navbar-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: left;
    color: white;
}

.navbar {
    position: fixed;
    width: 250px;
    height: 100%;
    background: $color6;
    left: -250px;
    transition: 0.4s;
}

.show-only-navbar {
    left: 0;
}

.navbar-header {
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
}

.ul-list-item {
    background: $color6;
    height: 100%;
    width: 100%;
    list-style: none;
}

.list-item {
    line-height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    cursor: pointer;
}

.list-item:last-child {
    border-bottom: 1px solid rgba(255,255,255,1);
}

.list-item-div {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

.active-panel {
    color: $color2;
    width: 80%;
    background: #1e1e1e;
    border-left-color: $color2;
}

.ul-list-item-inside {
    position: static;
    display: none;
    cursor: pointer;
}

.show {
    display: block;
}

.list-item-inside {
    line-height: 42px;
    border-bottom: none;
}

.list-item-div-inside {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
    transition: 0.1s ease;
}

.list-item-div-inside:hover {
    color: $color2;
    background: #1e1e1e;
}

.caret-down {
    position: absolute;
    font-size: 22px;
    right: 20px;
    margin-top: 20px;
    transition: transform 0.4s ease;
}

.rotate {
    transform: rotateZ(-180deg); 
}

.hide-navbar {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 40px;
    color: $color1;
    cursor: pointer;
    transition: 0.4s;
}

.hide-navbar:hover {
    transform: scale(1.2);
}

.click-hide-navbar {
    left: 260px;
}

.top-bar {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    background: $color6;
}

.top-bar-header {
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
}

.now-component {
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100% - 250px);
    height: calc(100% - 100px);
    background: $color1;
    overflow: auto;
    color: $color4;
}

.logout {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 100px;
    height: 50px;
    background: $color2;
    border: transparent;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
        background: $color3;
        transform: scale(1.1);
        border: 1px solid $color4;
    }
    &:active {
        transform: scale(0.9);
    }
}

.admin-quote {
    position: fixed;
    top: 50%;
    left: 30%;
    right: 10%;
    font-size: 50px;
    background: $color3;
}

.trademarks-admin {
    position: fixed;
    color: $color2;
    bottom: 40px;
    left: 45px;
    font-size: 20px;
    font-weight: 900;
}

.posts-admin {
    width: 300px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 3px solid black;
    text-align: center;
}

.posts-id {
    display: inline;
    margin-right: 10px;
}

.posts-title {
    margin-bottom: 10px;
}

.posts-image {
    width: 50px;
    height: 50px;
}

// .posts_date {
// }

// .posts-likes {
// }

// .posts-date-likes {
// }

.delete-admin {
    margin-top: 2px;
}

.add-post {
    width: 100px;
    height: 50px;
    position: relative;
    left: calc(50% - 50px);
    top: 50%;
}

.portfolio-admin {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    width: 250px;
    height: 200px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

.portfolio-image {
    width: 150px;
    height: 150px;
}

.portfolio-id {
    display: inline;
    margin-right: 5px;
}

.add-portfolio {
    width: 100px;
    height: 50px;
    position: relative;
    left: calc(50% - 50px);
    top: 50%;
}

.email-admin {
    width: 250px;
    height: 150px;
    border: 3px solid black;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.from-email {
    font-size: 20px;
}

.from-name {
    font-size: 18px;
}

.email-subject {
    font-size: 20px;
}

.email-datesend {
    font-size: 15px;
}